<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Real-Time Sign Language Translation</h1>
    <div id="video-container">
        <!-- Video elements will be inserted here -->
         <img src = "{{url_for('video')}}">
    </div>
    <button id="start-call">Start Call</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
